*{
    padding: 0px;
    margin :0px;
    box-sizing: border-box;
    border: 0px;
}
html{
    font-size: 13px;
    font-family: Arial,sans-serif;

    color: #000000DE;
}

.header > div > li{
    display: inline-block;
    margin:0px 20px 0px 20px;
    list-style:none;
    text-align: center;
    
}
.header > div > li > a{
    text-decoration: none;
    color: black;
}
.left-side{
    float: left;
}
.right-side{
    float: right;
}
body{
    background-color: gray;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;  
    
}
.header{
    padding: 19.5px;
    background-color:wheat;
}
.content{
    background-color: coral;
    
}
.logo{
    height: 290px;
    background-color: rgb(58, 133, 197);
}
.search-bar{
    height: 160px;
    background-color: aliceblue;
}
.search-buttons{
    height: 270px;
    background-color: rgb(23, 80, 131);
}
.footer{
    padding: 2rem;
    background-color: aqua;
  /*  height: 100px;*/
}
